.container {
  width: 100%;
  max-width: var(--container-small);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--background-hover);
  /* Hide scrollbars */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.container.small {
  max-width: var(--container-small);
}

.container.medium {
  max-width: var(--container-medium);
}

.container.large {
  max-width: var(--container-large);
}

.container[data-bordered="full"] {
  border: 1px solid var(--background-active);
}

.container[data-divider="true"] > *:not(:last-child),
.container[data-bordered="full"] > *:not(:last-child) {
  border-bottom: 1px solid var(--background-active);
}
